.react-calendar__navigation {
  border-bottom: 1px solid #ffffff20;
}

button {
  position: relative;
}

.react-calendar__month-view__weekdays {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__year-view__months__month span {
  background: transparent !important;
}

abbr[title] {
  position: relative;
  color: #fff;
  margin-right: 200px;
  display: inline-block;
}

abbr {
  text-decoration: none;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.react-calendar__tile {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.react-calendar {
  width: 500px;
  height: 100%;
  margin-top: 30px;
  padding: 20px 15px;
  border: none;
  border-top: 1px solid #00000020;
  border-bottom: 1px solid #00000020;
  max-width: 100%;
  /* background: #293241; */
  line-height: 1.125em;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */

}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: start;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  position: relative;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #75757570;
  opacity: .1;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 20px;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 20px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  /* background-color: #000; */
  color: #000;
  opacity: .5;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #76baff;
}

.react-calendar__tile--now {
  /* mix-blend-mode: difference; */
  background: #063831;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #063831;
}

.react-calendar__tile--hasActive {
  background: #5badff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #ffffff20;
}

.flex {
  display: block;
}

.none {
  display: none;
}

.react-calendar__tile--active {
  color: #000;
  background: #20a4f3;
}

/* .react-calendar__tile--active span { */
/* opacity: .5 !important; */
/* border: .2px solid #00000030; */
/* border-radius: 5px; */
/* } */

.react-calendar__month-view__days__day--weekend {
  color: #000;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__arrow,
.react-calendar__navigation__next2-button,
.react-calendar__century-view__decades__decade,
.react-calendar__decade-view__years__year,
.react-calendar__year-view__months__month abbr {
  color: #fff;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #00000030;
}

.react-calendar__navigation button:disabled {
  background-color: #00000010;
  opacity: .5;
}

@media only screen and (max-width: 500px) {
  .react-calendar {
    max-width: 380px;
    width: 85%  ;
    height: 100%;
    background-color: #ffffff20;
    padding: 0;
  }

  .react-calendar__tile {
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  abbr {
    font-size: 10px;
    font-weight: 500;
  }

  abbr[title] {
    margin-right: 200px;
    display: inline-block;
    margin-top: auto;
  }
  .react-calendar__month-view__weekdays{
    margin-bottom: 10px;
  }
}